<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/favicon.ico">
    <link rel="stylesheet" href="/css/welcome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Play&display=swap" rel="stylesheet">
    <title>Bookshelfly!</title>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand josefin my-auto" href="/">
                    <h3 class="m-0">
                        Bookshelfly!
                    </h3>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse play" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a href="/" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item me-3">
                            <a href="https://github.com/guptasajal411/bookshelfly" class="nav-link" target="_blank">GitHub</a>
                        </li>
                        <a href="/login">
                            <button class="btn btn-outline-info me-md-3 mb-md-0 mb-2">Login</button>
                        </a>
                        <a href="/register">
                            <button class="btn btn-info">Register</button>
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
