<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
</head>
<body>
    <h2>Welcome to library!</h2>
    username: <%= username %>
    <form action = "/library/<%= userID %>/signout" method = "POST">
        <button> Sign Out </button>
    </form>
</body>
</html>