<%- include("partials/welcomeNavbar") -%>
    <link rel="stylesheet" href="/css/login.css">
    <div class="text-center container">
        <h2 class="my-5">Login</h2>
        <form action="/login" method="POST">
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Username</span>
                <input name="username" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" required>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon2">Password</span>
                <input name="password" type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon2" required>
            </div>
            <p class="text-center dangerMessage px-3"><%= dangerMessage %></p>
            <button class="btn btn-primary" type="submit">Login to Bookshelfly!</button>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/login.js"></script>
</body>
</html>