<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/img/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Welcome</title>
</head>
<body>
    <div class="text-center">
        <h1 class="my-5">Welcome to Bookshelfly!</h1>
        <a href="/login">
            <button type="button" class="btn btn-outline-primary my-5">Login</button>
        </a>
        <a href="/register">
            <button type="button" class="btn btn-primary my-5">Register</button>
        </a>
    </div>
</body>
</html>