.card{
	transition: transform 0.15s;
}

.card:hover{
	transform: scale(1.02);
}

.card-img-top{
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.bookColumn .row {
    height: inherit;
}