form{
    max-width: 60%;
    margin: 0 auto;
}

.dangerMessage{
    color: red;
    border: 1px solid red;
    border-radius: 5px;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
}